  #app {
  	font-family: 'Avenir', Helvetica, Arial, sans-serif;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	text-align: left;
  	color: #000000;
 
  }
 

  .el-main {
    padding: 0px;
  }

   @media screen and (max-width: 1600px) {
      #app {
      height: 900px;
      width: 1600px;
    }
      .el-container {
      height: 900px;
      width: 1600px;
    }
  }
   @media screen and (max-width: 1440px) {
      #app {
      height: 900px;
      width: 1440px;
    }
      .el-container {
      height: 900px;
      width: 1440px;
    }
  }
  @media screen and (max-width: 1366px) {
      #app {
      height: 768px;
      width: 1366px;
    }
      .el-container {
      height: 768px;
      width: 1366px;
    }
  }

